In [2]:
import pandas as pd

# data

In [5]:
data_path = "../data/"

In [78]:
df_orig_filename = "media_government.xlsx"

In [79]:
df_orig = pd.read_excel(data_path + df_orig_filename)
df_orig.columns = [label.strip() for label in df_orig.columns]
df_orig.columns

Index(['Title', 'Source', 'Data', 'Link', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12'],
      dtype='object')

In [80]:
select_columns = ["Source","Data","Link"]
rename_columns = ["source","date","url"]
df_orig = df_orig[select_columns]
df_orig.columns = rename_columns
df_orig.head()

  source       date                                                url
0  Хабар  5.01.2022  https://khabar.kz/ru/news/obshchestvo/item/137...
1  Хабар  5.01.2022  https://khabar.kz/ru/news/politika/item/137784...
2  Хабар  5.01.2022  https://khabar.kz/ru/news/politika/item/137785...
3  Хабар  5.01.2022  https://khabar.kz/ru/news/politika/item/137786...
4  Хабар  5.01.2022  https://khabar.kz/ru/news/obshchestvo/item/137...

# analysis

In [165]:
path_analysis = "../analysis/"

In [82]:
df_counts_filename = "article_kcounts_cluster_graph.xlsx"

In [83]:
df_counts = pd.read_excel(path_analysis + df_counts_filename,sheet_name="Sheet1")

In [84]:
df_counts.head()

,cluster,keyword1_count,keyword2_count,url
0,1,2,4,https://khabar.kz/ru/news/politika/item/137786...
1,1,0,4,https://khabar.kz/ru/news/obshchestvo/item/138...
2,1,0,4,https://khabar.kz/ru/news/obshchestvo/item/138...
3,1,10,2,https://www.nur.kz/politics/kazakhstan/1975403...
4,1,2,2,https://www.nur.kz/politics/kazakhstan/1956690...

# Step 0. Format Date

In [104]:
df_orig["year"] = df_orig.loc[:,"date"].apply(lambda x: int(x.split(".")[2]))

In [105]:
df_orig["month"] = df_orig.loc[:,"date"].apply(lambda x: int(x.split(".")[1]))

In [106]:
df_orig["day"] = df_orig.loc[:,"date"].apply(lambda x: int(x.split(".")[0]))

In [107]:
df_orig.head()

,source,date,url,year,month,day
0,Хабар,5.01.2022,https://khabar.kz/ru/news/obshchestvo/item/137...,2022,1,5
1,Хабар,5.01.2022,https://khabar.kz/ru/news/politika/item/137784...,2022,1,5
2,Хабар,5.01.2022,https://khabar.kz/ru/news/politika/item/137785...,2022,1,5
3,Хабар,5.01.2022,https://khabar.kz/ru/news/politika/item/137786...,2022,1,5
4,Хабар,5.01.2022,https://khabar.kz/ru/news/obshchestvo/item/137...,2022,1,5

# Step 1. Merge df_orig & df_count

In [187]:
df_merge = df_orig.merge(df_counts,on="url",how="inner",indicator=True)

In [188]:
df_merge.groupby("_merge").count()

,source,date,url,year,month,day,cluster,keyword1_count,keyword2_count
_merge,,,,,,,,,
left_only,0,0,0,0,0,0,0,0,0
right_only,0,0,0,0,0,0,0,0,0
both,544,544,544,544,544,544,544,544,544

In [189]:
df_merge.head()

,source,date,url,year,month,day,cluster,keyword1_count,keyword2_count,_merge
0,Хабар,5.01.2022,https://khabar.kz/ru/news/obshchestvo/item/137...,2022,1,5,1,0,2,both
1,Хабар,5.01.2022,https://khabar.kz/ru/news/politika/item/137784...,2022,1,5,1,4,0,both
2,Хабар,5.01.2022,https://khabar.kz/ru/news/politika/item/137785...,2022,1,5,1,0,0,both
3,Хабар,5.01.2022,https://khabar.kz/ru/news/politika/item/137786...,2022,1,5,1,2,4,both
4,Хабар,5.01.2022,https://khabar.kz/ru/news/obshchestvo/item/137...,2022,1,5,1,0,0,both

# Step 2. create time series

In [190]:
df_merge.sort_values(["year","month","day"]).head()

,source,date,url,year,month,day,cluster,keyword1_count,keyword2_count,_merge
116,zakon.kz,3.01.2022,https://www.zakon.kz/6003471-deputaty-mazhilis...,2022,1,3,2,8,0,both
226,nur.kz,3.01.2022,https://www.nur.kz/politics/kazakhstan/1949685...,2022,1,3,1,2,0,both
227,nur.kz,3.01.2022,https://www.nur.kz/politics/kazakhstan/1949639...,2022,1,3,1,2,0,both
253,sputnik.kz,3.01.2022,https://ru.sputnik.kz/20220103/tokaev-dal-sroc...,2022,1,3,2,0,0,both
254,sputnik.kz,3.01.2022,https://ru.sputnik.kz/20220103/Chto-proiskhodi...,2022,1,3,2,0,10,both

In [202]:
ts_dat = df_merge.groupby(["year","month","cluster"],as_index=False).agg({"url":"count","keyword1_count":"sum","keyword2_count":"sum"})
ts_dat.head()

   year  month  cluster  url  keyword1_count  keyword2_count
0  2022      1        1  108             147              26
1  2022      1        2  191             163             146
2  2022      2        1   40              82               6
3  2022      2        2   39              44               4
4  2022      3        1   27              29               0

In [203]:
ts_dat["k1_freq"] = ts_dat["keyword1_count"] / ts_dat["url"]
ts_dat["k2_freq"] = ts_dat["keyword2_count"] / ts_dat["url"]
ts_dat.head()

,year,month,cluster,url,keyword1_count,keyword2_count,k1_freq,k2_freq
0,2022,1,1,108,147,26,1.361111,0.240741
1,2022,1,2,191,163,146,0.853403,0.764398
2,2022,2,1,40,82,6,2.050000,0.150000
3,2022,2,2,39,44,4,1.128205,0.102564
4,2022,3,1,27,29,0,1.074074,0.000000

In [204]:
months = pd.DataFrame(data={"month":range(1,13)})
years = pd.DataFrame(data={"year":range(2022,2024)})
cluster = pd.DataFrame(data={"cluster":range(1,3)})
ts = years.merge(months,how="cross")
ts = ts.merge(cluster,how="cross")
ts

    year  month  cluster
0   2022      1        1
1   2022      1        2
2   2022      2        1
3   2022      2        2
4   2022      3        1
5   2022      3        2
6   2022      4        1
7   2022      4        2
8   2022      5        1
9   2022      5        2
10  2022      6        1
11  2022      6        2
12  2022      7        1
13  2022      7        2
14  2022      8        1
15  2022      8        2
16  2022      9        1
17  2022      9        2
18  2022     10        1
19  2022     10        2
20  2022     11        1
21  2022     11        2
22  2022     12        1
23  2022     12        2
24  2023      1        1
25  2023      1        2
26  2023      2        1
27  2023      2        2
28  2023      3        1
29  2023      3        2
30  2023      4        1
31  2023      4        2
32  2023      5        1
33  2023      5        2
34  2023      6        1
35  2023      6        2
36  2023      7        1
37  2023      7        2
38  2023      8        1
39  2023      8        2
40  2023      9        1
41  2023      9        2
42  2023     10        1
43  2023     10        2
44  2023     11        1
45  2023     11        2
46  2023     12        1
47  2023     12        2

In [205]:
ts = ts.merge(ts_dat,on=["year","month","cluster"],how="left")

In [206]:
ts

,year,month,cluster,url,keyword1_count,keyword2_count,k1_freq,k2_freq
0,2022,1,1,108.0,147.0,26.0,1.361111,0.240741
1,2022,1,2,191.0,163.0,146.0,0.853403,0.764398
2,2022,2,1,40.0,82.0,6.0,2.050000,0.150000
3,2022,2,2,39.0,44.0,4.0,1.128205,0.102564
4,2022,3,1,27.0,29.0,0.0,1.074074,0.000000
5,2022,3,2,22.0,48.0,7.0,2.181818,0.318182
6,2022,4,1,7.0,20.0,2.0,2.857143,0.285714
7,2022,4,2,5.0,0.0,0.0,0.000000,0.000000
8,2022,5,1,3.0,6.0,0.0,2.000000,0.000000
9,2022,5,2,2.0,0.0,0.0,0.000000,0.000000
10,2022,6,1,14.0,49.0,3.0,3.500000,0.214286
11,2022,6,2,8.0,6.0,0.0,0.750000,0.000000
12,2022,7,1,3.0,7.0,0.0,2.333333,0.000000
13,2022,7,2,3.0,6.0,0.0,2.000000,0.000000
14,2022,8,1,NaN,NaN,NaN,NaN,NaN
15,2022,8,2,7.0,10.0,0.0,1.428571,0.000000
16,2022,9,1,10.0,55.0,0.0,5.500000,0.000000
17,2022,9,2,1.0,0.0,0.0,0.000000,0.000000
18,2022,10,1,4.0,19.0,0.0,4.750000,0.000000
19,2022,10,2,4.0,0.0,0.0,0.000000,0.000000
20,2022,11,1,7.0,33.0,0.0,4.714286,0.000000
21,2022,11,2,3.0,7.0,0.0,2.333333,0.000000
22,2022,12,1,4.0,6.0,0.0,1.500000,0.000000
23,2022,12,2,8.0,18.0,1.0,2.250000,0.125000
24,2023,1,1,4.0,7.0,0.0,1.750000,0.000000
25,2023,1,2,17.0,25.0,12.0,1.470588,0.705882
26,2023,2,1,NaN,NaN,NaN,NaN,NaN
27,2023,2,2,NaN,NaN,NaN,NaN,NaN
28,2023,3,1,1.0,10.0,0.0,10.000000,0.000000
29,2023,3,2,NaN,NaN,NaN,NaN,NaN
30,2023,4,1,NaN,NaN,NaN,NaN,NaN
31,2023,4,2,NaN,NaN,NaN,NaN,NaN
32,2023,5,1,NaN,NaN,NaN,NaN,NaN
33,2023,5,2,1.0,0.0,0.0,0.000000,0.000000
34,2023,6,1,NaN,NaN,NaN,NaN,NaN
35,2023,6,2,NaN,NaN,NaN,NaN,NaN
36,2023,7,1,NaN,NaN,NaN,NaN,NaN
37,2023,7,2,NaN,NaN,NaN,NaN,NaN
38,2023,8,1,NaN,NaN,NaN,NaN,NaN
39,2023,8,2,NaN,NaN,NaN,NaN,NaN
40,2023,9,1,NaN,NaN,NaN,NaN,NaN
41,2023,9,2,NaN,NaN,NaN,NaN,NaN
42,2023,10,1,NaN,NaN,NaN,NaN,NaN
43,2023,10,2,NaN,NaN,NaN,NaN,NaN
44,2023,11,1,NaN,NaN,NaN,NaN,NaN
45,2023,11,2,NaN,NaN,NaN,NaN,NaN
46,2023,12,1,NaN,NaN,NaN,NaN,NaN
47,2023,12,2,NaN,NaN,NaN,NaN,NaN

In [207]:
ts = ts[~((ts["year"]==2023) & (ts["month"]>5))]
ts

,year,month,cluster,url,keyword1_count,keyword2_count,k1_freq,k2_freq
0,2022,1,1,108.0,147.0,26.0,1.361111,0.240741
1,2022,1,2,191.0,163.0,146.0,0.853403,0.764398
2,2022,2,1,40.0,82.0,6.0,2.050000,0.150000
3,2022,2,2,39.0,44.0,4.0,1.128205,0.102564
4,2022,3,1,27.0,29.0,0.0,1.074074,0.000000
5,2022,3,2,22.0,48.0,7.0,2.181818,0.318182
6,2022,4,1,7.0,20.0,2.0,2.857143,0.285714
7,2022,4,2,5.0,0.0,0.0,0.000000,0.000000
8,2022,5,1,3.0,6.0,0.0,2.000000,0.000000
9,2022,5,2,2.0,0.0,0.0,0.000000,0.000000
10,2022,6,1,14.0,49.0,3.0,3.500000,0.214286
11,2022,6,2,8.0,6.0,0.0,0.750000,0.000000
12,2022,7,1,3.0,7.0,0.0,2.333333,0.000000
13,2022,7,2,3.0,6.0,0.0,2.000000,0.000000
14,2022,8,1,NaN,NaN,NaN,NaN,NaN
15,2022,8,2,7.0,10.0,0.0,1.428571,0.000000
16,2022,9,1,10.0,55.0,0.0,5.500000,0.000000
17,2022,9,2,1.0,0.0,0.0,0.000000,0.000000
18,2022,10,1,4.0,19.0,0.0,4.750000,0.000000
19,2022,10,2,4.0,0.0,0.0,0.000000,0.000000
20,2022,11,1,7.0,33.0,0.0,4.714286,0.000000
21,2022,11,2,3.0,7.0,0.0,2.333333,0.000000
22,2022,12,1,4.0,6.0,0.0,1.500000,0.000000
23,2022,12,2,8.0,18.0,1.0,2.250000,0.125000
24,2023,1,1,4.0,7.0,0.0,1.750000,0.000000
25,2023,1,2,17.0,25.0,12.0,1.470588,0.705882
26,2023,2,1,NaN,NaN,NaN,NaN,NaN
27,2023,2,2,NaN,NaN,NaN,NaN,NaN
28,2023,3,1,1.0,10.0,0.0,10.000000,0.000000
29,2023,3,2,NaN,NaN,NaN,NaN,NaN
30,2023,4,1,NaN,NaN,NaN,NaN,NaN
31,2023,4,2,NaN,NaN,NaN,NaN,NaN
32,2023,5,1,NaN,NaN,NaN,NaN,NaN
33,2023,5,2,1.0,0.0,0.0,0.000000,0.000000

In [223]:
ts.loc[:,"yearmonth"] = ts.apply(lambda x: str(x["year"])+"."+str(x["month"]),axis=1)
ts

,year,month,cluster,url,keyword1_count,keyword2_count,k1_freq,k2_freq,yearmonth
0,2022,1,1,108.0,147.0,26.0,1.361111,0.240741,2022.1
1,2022,1,2,191.0,163.0,146.0,0.853403,0.764398,2022.1
2,2022,2,1,40.0,82.0,6.0,2.050000,0.150000,2022.2
3,2022,2,2,39.0,44.0,4.0,1.128205,0.102564,2022.2
4,2022,3,1,27.0,29.0,0.0,1.074074,0.000000,2022.3
5,2022,3,2,22.0,48.0,7.0,2.181818,0.318182,2022.3
6,2022,4,1,7.0,20.0,2.0,2.857143,0.285714,2022.4
7,2022,4,2,5.0,0.0,0.0,0.000000,0.000000,2022.4
8,2022,5,1,3.0,6.0,0.0,2.000000,0.000000,2022.5
9,2022,5,2,2.0,0.0,0.0,0.000000,0.000000,2022.5
10,2022,6,1,14.0,49.0,3.0,3.500000,0.214286,2022.6
11,2022,6,2,8.0,6.0,0.0,0.750000,0.000000,2022.6
12,2022,7,1,3.0,7.0,0.0,2.333333,0.000000,2022.7
13,2022,7,2,3.0,6.0,0.0,2.000000,0.000000,2022.7
14,2022,8,1,0.0,0.0,0.0,0.000000,0.000000,2022.8
15,2022,8,2,7.0,10.0,0.0,1.428571,0.000000,2022.8
16,2022,9,1,10.0,55.0,0.0,5.500000,0.000000,2022.9
17,2022,9,2,1.0,0.0,0.0,0.000000,0.000000,2022.9
18,2022,10,1,4.0,19.0,0.0,4.750000,0.000000,2022.10
19,2022,10,2,4.0,0.0,0.0,0.000000,0.000000,2022.10
20,2022,11,1,7.0,33.0,0.0,4.714286,0.000000,2022.11
21,2022,11,2,3.0,7.0,0.0,2.333333,0.000000,2022.11
22,2022,12,1,4.0,6.0,0.0,1.500000,0.000000,2022.12
23,2022,12,2,8.0,18.0,1.0,2.250000,0.125000,2022.12
24,2023,1,1,4.0,7.0,0.0,1.750000,0.000000,2023.1
25,2023,1,2,17.0,25.0,12.0,1.470588,0.705882,2023.1
26,2023,2,1,0.0,0.0,0.0,0.000000,0.000000,2023.2
27,2023,2,2,0.0,0.0,0.0,0.000000,0.000000,2023.2
28,2023,3,1,1.0,10.0,0.0,10.000000,0.000000,2023.3
29,2023,3,2,0.0,0.0,0.0,0.000000,0.000000,2023.3
30,2023,4,1,0.0,0.0,0.0,0.000000,0.000000,2023.4
31,2023,4,2,0.0,0.0,0.0,0.000000,0.000000,2023.4
32,2023,5,1,0.0,0.0,0.0,0.000000,0.000000,2023.5
33,2023,5,2,1.0,0.0,0.0,0.000000,0.000000,2023.5

In [224]:
ts.loc[ts["cluster"].isna(),"cluster"] = 0
ts.loc[ts["url"].isna(),"url"] = 0
ts.loc[ts["keyword1_count"].isna(),"keyword1_count"] = 0
ts.loc[ts["keyword2_count"].isna(),"keyword2_count"] = 0
ts.loc[ts["k1_freq"].isna(),"k1_freq"] = 0
ts.loc[ts["k2_freq"].isna(),"k2_freq"] = 0
ts

,year,month,cluster,url,keyword1_count,keyword2_count,k1_freq,k2_freq,yearmonth
0,2022,1,1,108.0,147.0,26.0,1.361111,0.240741,2022.1
1,2022,1,2,191.0,163.0,146.0,0.853403,0.764398,2022.1
2,2022,2,1,40.0,82.0,6.0,2.050000,0.150000,2022.2
3,2022,2,2,39.0,44.0,4.0,1.128205,0.102564,2022.2
4,2022,3,1,27.0,29.0,0.0,1.074074,0.000000,2022.3
5,2022,3,2,22.0,48.0,7.0,2.181818,0.318182,2022.3
6,2022,4,1,7.0,20.0,2.0,2.857143,0.285714,2022.4
7,2022,4,2,5.0,0.0,0.0,0.000000,0.000000,2022.4
8,2022,5,1,3.0,6.0,0.0,2.000000,0.000000,2022.5
9,2022,5,2,2.0,0.0,0.0,0.000000,0.000000,2022.5
10,2022,6,1,14.0,49.0,3.0,3.500000,0.214286,2022.6
11,2022,6,2,8.0,6.0,0.0,0.750000,0.000000,2022.6
12,2022,7,1,3.0,7.0,0.0,2.333333,0.000000,2022.7
13,2022,7,2,3.0,6.0,0.0,2.000000,0.000000,2022.7
14,2022,8,1,0.0,0.0,0.0,0.000000,0.000000,2022.8
15,2022,8,2,7.0,10.0,0.0,1.428571,0.000000,2022.8
16,2022,9,1,10.0,55.0,0.0,5.500000,0.000000,2022.9
17,2022,9,2,1.0,0.0,0.0,0.000000,0.000000,2022.9
18,2022,10,1,4.0,19.0,0.0,4.750000,0.000000,2022.10
19,2022,10,2,4.0,0.0,0.0,0.000000,0.000000,2022.10
20,2022,11,1,7.0,33.0,0.0,4.714286,0.000000,2022.11
21,2022,11,2,3.0,7.0,0.0,2.333333,0.000000,2022.11
22,2022,12,1,4.0,6.0,0.0,1.500000,0.000000,2022.12
23,2022,12,2,8.0,18.0,1.0,2.250000,0.125000,2022.12
24,2023,1,1,4.0,7.0,0.0,1.750000,0.000000,2023.1
25,2023,1,2,17.0,25.0,12.0,1.470588,0.705882,2023.1
26,2023,2,1,0.0,0.0,0.0,0.000000,0.000000,2023.2
27,2023,2,2,0.0,0.0,0.0,0.000000,0.000000,2023.2
28,2023,3,1,1.0,10.0,0.0,10.000000,0.000000,2023.3
29,2023,3,2,0.0,0.0,0.0,0.000000,0.000000,2023.3
30,2023,4,1,0.0,0.0,0.0,0.000000,0.000000,2023.4
31,2023,4,2,0.0,0.0,0.0,0.000000,0.000000,2023.4
32,2023,5,1,0.0,0.0,0.0,0.000000,0.000000,2023.5
33,2023,5,2,1.0,0.0,0.0,0.000000,0.000000,2023.5

In [225]:
ts.loc[:,"cluster"] = ts["cluster"].astype(int)
ts.loc[:,"url"] = ts["url"].astype(int)
ts.loc[:,"keyword1_count"] = ts["keyword1_count"].astype(int)
ts.loc[:,"keyword2_count"] = ts["keyword2_count"].astype(int)
ts

,year,month,cluster,url,keyword1_count,keyword2_count,k1_freq,k2_freq,yearmonth
0,2022,1,1,108.0,147.0,26.0,1.361111,0.240741,2022.1
1,2022,1,2,191.0,163.0,146.0,0.853403,0.764398,2022.1
2,2022,2,1,40.0,82.0,6.0,2.050000,0.150000,2022.2
3,2022,2,2,39.0,44.0,4.0,1.128205,0.102564,2022.2
4,2022,3,1,27.0,29.0,0.0,1.074074,0.000000,2022.3
5,2022,3,2,22.0,48.0,7.0,2.181818,0.318182,2022.3
6,2022,4,1,7.0,20.0,2.0,2.857143,0.285714,2022.4
7,2022,4,2,5.0,0.0,0.0,0.000000,0.000000,2022.4
8,2022,5,1,3.0,6.0,0.0,2.000000,0.000000,2022.5
9,2022,5,2,2.0,0.0,0.0,0.000000,0.000000,2022.5
10,2022,6,1,14.0,49.0,3.0,3.500000,0.214286,2022.6
11,2022,6,2,8.0,6.0,0.0,0.750000,0.000000,2022.6
12,2022,7,1,3.0,7.0,0.0,2.333333,0.000000,2022.7
13,2022,7,2,3.0,6.0,0.0,2.000000,0.000000,2022.7
14,2022,8,1,0.0,0.0,0.0,0.000000,0.000000,2022.8
15,2022,8,2,7.0,10.0,0.0,1.428571,0.000000,2022.8
16,2022,9,1,10.0,55.0,0.0,5.500000,0.000000,2022.9
17,2022,9,2,1.0,0.0,0.0,0.000000,0.000000,2022.9
18,2022,10,1,4.0,19.0,0.0,4.750000,0.000000,2022.10
19,2022,10,2,4.0,0.0,0.0,0.000000,0.000000,2022.10
20,2022,11,1,7.0,33.0,0.0,4.714286,0.000000,2022.11
21,2022,11,2,3.0,7.0,0.0,2.333333,0.000000,2022.11
22,2022,12,1,4.0,6.0,0.0,1.500000,0.000000,2022.12
23,2022,12,2,8.0,18.0,1.0,2.250000,0.125000,2022.12
24,2023,1,1,4.0,7.0,0.0,1.750000,0.000000,2023.1
25,2023,1,2,17.0,25.0,12.0,1.470588,0.705882,2023.1
26,2023,2,1,0.0,0.0,0.0,0.000000,0.000000,2023.2
27,2023,2,2,0.0,0.0,0.0,0.000000,0.000000,2023.2
28,2023,3,1,1.0,10.0,0.0,10.000000,0.000000,2023.3
29,2023,3,2,0.0,0.0,0.0,0.000000,0.000000,2023.3
30,2023,4,1,0.0,0.0,0.0,0.000000,0.000000,2023.4
31,2023,4,2,0.0,0.0,0.0,0.000000,0.000000,2023.4
32,2023,5,1,0.0,0.0,0.0,0.000000,0.000000,2023.5
33,2023,5,2,1.0,0.0,0.0,0.000000,0.000000,2023.5

In [232]:
index_columns = ["year","month","yearmonth"]
pivot_columns = ["cluster"]
value_columns = ["url","k1_freq","k2_freq"]
ts_pivot = ts[index_columns+pivot_columns+value_columns]
ts_pivot = ts.pivot(index = index_columns,columns = pivot_columns,values = value_columns)
ts_pivot

                        url           k1_freq             k2_freq
cluster                   1      2          1         2         1         2
year month yearmonth
2022 1     2022.1     108.0  191.0   1.361111  0.853403  0.240741  0.764398
     2     2022.2      40.0   39.0   2.050000  1.128205  0.150000  0.102564
     3     2022.3      27.0   22.0   1.074074  2.181818  0.000000  0.318182
     4     2022.4       7.0    5.0   2.857143  0.000000  0.285714  0.000000
     5     2022.5       3.0    2.0   2.000000  0.000000  0.000000  0.000000
     6     2022.6      14.0    8.0   3.500000  0.750000  0.214286  0.000000
     7     2022.7       3.0    3.0   2.333333  2.000000  0.000000  0.000000
     8     2022.8       0.0    7.0   0.000000  1.428571  0.000000  0.000000
     9     2022.9      10.0    1.0   5.500000  0.000000  0.000000  0.000000
     10    2022.10      4.0    4.0   4.750000  0.000000  0.000000  0.000000
     11    2022.11      7.0    3.0   4.714286  2.333333  0.000000  0.000000
     12    2022.12      4.0    8.0   1.500000  2.250000  0.000000  0.125000
2023 1     2023.1       4.0   17.0   1.750000  1.470588  0.000000  0.705882
     2     2023.2       0.0    0.0   0.000000  0.000000  0.000000  0.000000
     3     2023.3       1.0    0.0  10.000000  0.000000  0.000000  0.000000
     4     2023.4       0.0    0.0   0.000000  0.000000  0.000000  0.000000
     5     2023.5       0.0    1.0   0.000000  0.000000  0.000000  0.000000

In [233]:
ts_pivot = ts_pivot.reset_index()
ts_pivot

         year month yearmonth    url           k1_freq             k2_freq  \
cluster                            1      2          1         2         1
0        2022     1    2022.1  108.0  191.0   1.361111  0.853403  0.240741
1        2022     2    2022.2   40.0   39.0   2.050000  1.128205  0.150000
2        2022     3    2022.3   27.0   22.0   1.074074  2.181818  0.000000
3        2022     4    2022.4    7.0    5.0   2.857143  0.000000  0.285714
4        2022     5    2022.5    3.0    2.0   2.000000  0.000000  0.000000
5        2022     6    2022.6   14.0    8.0   3.500000  0.750000  0.214286
6        2022     7    2022.7    3.0    3.0   2.333333  2.000000  0.000000
7        2022     8    2022.8    0.0    7.0   0.000000  1.428571  0.000000
8        2022     9    2022.9   10.0    1.0   5.500000  0.000000  0.000000
9        2022    10   2022.10    4.0    4.0   4.750000  0.000000  0.000000
10       2022    11   2022.11    7.0    3.0   4.714286  2.333333  0.000000
11       2022    12   2022.12    4.0    8.0   1.500000  2.250000  0.000000
12       2023     1    2023.1    4.0   17.0   1.750000  1.470588  0.000000
13       2023     2    2023.2    0.0    0.0   0.000000  0.000000  0.000000
14       2023     3    2023.3    1.0    0.0  10.000000  0.000000  0.000000
15       2023     4    2023.4    0.0    0.0   0.000000  0.000000  0.000000
16       2023     5    2023.5    0.0    1.0   0.000000  0.000000  0.000000


cluster         2
0        0.764398
1        0.102564
2        0.318182
3        0.000000
4        0.000000
5        0.000000
6        0.000000
7        0.000000
8        0.000000
9        0.000000
10       0.000000
11       0.125000
12       0.705882
13       0.000000
14       0.000000
15       0.000000
16       0.000000

In [235]:
pivot_column_names = ["year","month","yearmonth","c1_count","c2_count","c1_k1freq","c2_k1freq","c1_k2freq","c2_k2freq"]
ts_pivot.columns = pivot_column_names
ts_pivot

,year,month,yearmonth,c1_count,c2_count,c1_k1freq,c2_k1freq,c1_k2freq,c2_k2freq
0,2022,1,2022.1,108.0,191.0,1.361111,0.853403,0.240741,0.764398
1,2022,2,2022.2,40.0,39.0,2.050000,1.128205,0.150000,0.102564
2,2022,3,2022.3,27.0,22.0,1.074074,2.181818,0.000000,0.318182
3,2022,4,2022.4,7.0,5.0,2.857143,0.000000,0.285714,0.000000
4,2022,5,2022.5,3.0,2.0,2.000000,0.000000,0.000000,0.000000
5,2022,6,2022.6,14.0,8.0,3.500000,0.750000,0.214286,0.000000
6,2022,7,2022.7,3.0,3.0,2.333333,2.000000,0.000000,0.000000
7,2022,8,2022.8,0.0,7.0,0.000000,1.428571,0.000000,0.000000
8,2022,9,2022.9,10.0,1.0,5.500000,0.000000,0.000000,0.000000
9,2022,10,2022.10,4.0,4.0,4.750000,0.000000,0.000000,0.000000
10,2022,11,2022.11,7.0,3.0,4.714286,2.333333,0.000000,0.000000
11,2022,12,2022.12,4.0,8.0,1.500000,2.250000,0.000000,0.125000
12,2023,1,2023.1,4.0,17.0,1.750000,1.470588,0.000000,0.705882
13,2023,2,2023.2,0.0,0.0,0.000000,0.000000,0.000000,0.000000
14,2023,3,2023.3,1.0,0.0,10.000000,0.000000,0.000000,0.000000
15,2023,4,2023.4,0.0,0.0,0.000000,0.000000,0.000000,0.000000
16,2023,5,2023.5,0.0,1.0,0.000000,0.000000,0.000000,0.000000

# Export ts & ts_pivot

In [239]:
df_merge_filename = "article_kcounts_merged.xlsx"
df_merge.to_excel(path_analysis + df_merge_filename,index=False)

In [236]:
ts_filename = "ts.xlsx"
ts.to_excel(path_analysis + ts_filename,index=False)

In [237]:
ts_pivot_filename = "ts_pivot.xlsx"
ts_pivot.to_excel(path_analysis + ts_pivot_filename,index=False)